@{
    ViewBag.Title = "About";
}
<section class="about text-center" id="about">
    <div class="container">
        <div class="row">
            <h2> <br><p></p></h2>
            <h2>Estructura orgánica de Dinadeco</h2>
            <h4>
                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> Para el cumplimiento de sus objetivos y funciones, Dinadeco cuenta con la siguiente estructura organizativa:</span></p>
                &nbsp;<p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> 1. Dirección General: tiene entre otras funciones, la de administrar la Dirección Nacional, conforme con los mandatos de la Ley N°3859 y el presente Reglamento, así como presentar anualmente al Consejo un plan de trabajo institucional, debidamente valorado para fines del presupuesto nacional y en función de los planteamientos y necesidades del movimiento comunal. Esta dirección emite las políticas y lineamientos generales en materia de desarrollo comunal, en concordancia con la normativa legal vigente y el Plan Nacional de Desarrollo.</span></p>

                <h4>
                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> La Dirección cuenta con las siguientes unidades en el nivel de asesor (staff):</span></p>
                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Asesoría Jurídica </span></p>
                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Unidad de Información y Comunidad </span></p>
                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Planificación Institucional  </span></p>
                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Contraloría de Servicios</span></p>
                    <h4>
                        <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> En el nivel operativo, también pertenecen a la Dirección Nacional los departamentos de:</span></p>
                        <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;- Auditoría Comunal </span></p>
                        <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;- Informática  </span></p>
                        <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> 2. Dirección Administrativa: es la encargada de establecer normas y procedimientos para la ejecución de las labores administrativas y financieras de la Institución, la que deberá planear, organizar, dirigir, coordinar, controlar y proporcionar los servicios de administración de personal, abastecimiento de materiales, operaciones financieras, transportes, aseo y vigilancia. Tiene como objetivo satisfacer los requerimientos administrativos y financieros necesarios para el desempeño de las funciones, así como garantizar la adecuada fiscalización de los recursos, con el propósito de cumplir con los objetivos estratégicos institucionales.</span></p>

                        <h4>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">La Dirección Administrativa Financiera está conformada por:</span></p>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Recursos Humanos </span></p>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento Financiero-Contable </span></p>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Bienes y Suministros </span></p>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Servicios Generales</span></p>
                            <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">Dirección Técnica Operativa: está a cargo de los procesos técnicos de planificación y operativos de la Dirección Nacional, para lo cual define estrategias para la descentralización y regionalización de los servicios institucionales, mediante el trabajo interdisciplinario de los equipos técnicos regionales. Contribuye al fortalecimiento técnico operativo de las organizaciones de desarrollo</span></p>

                            <h4>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">La Dirección Técnica Operativa está integrada por:</span></p>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Financiamiento Comunitario </span></p>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Direcciones Regionales </span></p>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Capacitación Comunal</span></p>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento Comités Tutelares de la Niñez y la Adolescencia</span></p>
                                <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">Dirección Legal y de Registro: está a cargo del asesoramiento jurídico requerido por las altas autoridades institucionales y de los equipos técnicos regionales, así como de las organizaciones comunales, en lo que respecta a la Ley N°3859 y su reglamento. Además, le corresponde establecer un Registro Público de Asociaciones de Desarrollo de la Comunidad, el cual dependerá de la Dirección Nacional, con el fin de dar trámite a la inscripción y legalización de las asociaciones de desarrollo de la comunidad y será fuente de jurisprudencia administrativa al fuente de jurisprudencia administrativa al servicio del movimiento comunal. </span></p>
                                <h4>
                                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">La Dirección Legal y de Registro está conformada por:</span></p>
                                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento Legal </span></p>
                                    <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;"> &nbsp; &nbsp; &nbsp;-Departamento de Registro </span></p>
                                    <h4>
                                        <p style="text-align: justify;"><span style="font-family: 'Tahoma',sans-serif; color: #3b3838;">Los funcionarios de la Dirección Nacional de Desarrollo de la Comunidad, con excepción del Director General, están protegidos por el Régimen del Servicio Civil.</span></p>
        </div>
    </div>
</section>