@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Sistema Organizaciones Comunales de Fondo por Girar</h1>
</div>

<div class="row">
    <div class="col-md-5">
        <img />
    </div>
    <div class="col-md-5 text-center">
        <h2>Busque la información general de su asociación aquí</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Buscar &raquo;</a></p>
    </div>
</div>