@{
    ViewBag.Title = "DINADECO";
}
<div class="jumbotron text-center">
    <h1>Sistema Organizaciones Comunales de Fondo por Girar</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <a href="~/Views/Login/Create.cshtml"><img src="~/Content/image/search here.jpeg" class="img-rounded" alt="Cinque Terre"></a>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-5 text-center">
        <h1 align="center">Busque la información general de su asociación aquí</h1>
        <button type="button" class="btn btn-light">@Html.ActionLink("Buscar", "Search", "Association")</button>
    </div>
</div>