
@{
    ViewBag.Title = "Menu";
}
<div class="jumbotron text-center">
    <h1>Menú</h1>
</div>
<div class="container">
    <header>
        <div class="row">
                <img src="~/Content/image/icon_rh.png" class="rounded-circle" alt="Cinque Terre" width="320" height="300" align="left" />
                <img src="~/Content/image/asociaciones_0_0.png" class="rounded-circle" alt="Cinque Terre" width="320" height="300" align="middle" hspace="100" />
                <img src="~/Content/image/unlock-icon.png" class="rounded-circle" alt="Cinque Terre" width="250" height="230" align="right" />
        </div>
    </header>
    <header>
        <h4 alin align="left">@Html.ActionLink("Buscar", "Search", "Employees")</h4>
        <h4 alin align="middle">@Html.ActionLink("Buscar", "Search", "Association")</h4>
        <h4 alin align="right">@Html.ActionLink("Autorizar", "Authorization", "Functionary")</h4>
    </header>
       
        

</div>


